<div class="hero" style="background: url({{"/images/" | prepend: site.baseurl | append : site.hero}})">
  <div class="hero-content">
    <h1 class="hero-title">{% if site.hero-title %}{{site.hero-title}}{% else %}Welcome to <span>Lokmont</span>{% endif %}</h1>
    <div class="hero-description">{% if site.hero-description %}{{site.hero-description}}{% else %} {% endif %}</div>
  </div>
  <p>The Capoeira Angola Center Illinois is proud to be an affiliate of the Capoeira Angola Center of Mestre João Grande - NYC. Under the direction of Contramestre Denis Chiaramonte, our mission is preserve the fundamental teachings of Mestre João Grande’s lineage while promoting innovative methods for Capoeira Angola to continue to reach new audiences.</p>
  <p>The Capoeira Angola Center Illinois offers online and in-person classes for adults and children as well as public/private educational workshops on Capoeira Angola, Maculelê, Samba de Roda, Maracatu, and other aspects of Afro-Brazilian tradition. Sign up to receive information about classes, or refer inquiries to the contact information provided on our contacts page.</p>
</div> <!-- /.hero -->
